.DS_Store
Assets/*
Library/*
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Temp
*.pidb
build
*.csproj

*.unityproj

*.sln

*.userprefs

Library/AssetServerCacheV3

Library/AssetServerCacheV3

Library/assetDatabase3

Library/metadata/00/00000000000000003000000000000000

Library/metadata/00/00000000000000003000000000000000

Library/metadata/00/00000000000000004000000000000000
